language: python
python:
  - "3.5"
services:
  - postgresql
  - redis-server
# command to install dependencies
install: "pip install -r requirements.txt"
#before_script:
#  - psql -c 'create database travis_ci_test;' -U postgres
# command to run tests
script: pytest