amqp==2.1.4
anyjson==0.3.3
appdirs==1.4.3
billiard==3.5.0.2
celery==4.0.2
falcon==1.1.0
falcon-cors==1.1.2
gunicorn==19.7.1
hachoir3==3.0a2
hiredis==0.2.0
honcho==1.0.1
kombu==4.0.2
packaging==16.8
py==1.4.33
pyparsing==2.2.0
pytest==3.0.7
python-mimeparse==1.6.0
pytz==2016.10
redis==2.10.5
six==1.10.0
SQLAlchemy==1.1.9
vine==1.1.3
