amqp==2.1.4
anyjson==0.3.3
billiard==3.5.0.2
celery==4.0.2
falcon==1.1.0
gunicorn==19.6.0
hiredis==0.2.0
honcho==0.7.1
kombu==4.0.2
python-mimeparse==1.6.0
pytz==2016.10
redis==2.10.5
six==1.10.0
SQLAlchemy==1.1.5
vine==1.1.3
