amqp==2.2.2
anyjson==0.3.3
appdirs==1.4.3
attrs==17.4.0
billiard==3.5.0.3
celery==4.1.0
certifi==2018.1.18
chardet==3.0.4
coverage==4.5.1
falcon==1.4.1
falcon-cors==1.1.7
gunicorn==19.7.1
hachoir3==3.0a2
hiredis==0.2.0
honcho==1.0.1
httpie==0.9.9
idna==2.6
kombu==4.1.0
packaging==17.1
pluggy==0.6.0
psycopg2==2.7.4
py==1.5.2
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.4.2
python-mimeparse==1.6.0
pytz==2018.3
redis==2.10.6
requests==2.18.4
six==1.11.0
SQLAlchemy==1.2.4
SQLAlchemy-Utils==0.33.0
ujson==5.2.0
urllib3==1.22
vine==1.1.4
